@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

/* ======================== CSS Rule #1 */
html {
  background-color: white;
  padding-left: 20px;
}

/* ======================== CSS Rule #2 */
h1 {
  font-family: "Poetsen One", sans-serif;
}

.fb {
  background-color: rgb(255, 176, 40);
}

.cb {
  background-color: rgb(255, 183, 197);
}

.ch {
  background-color: rgb(0, 133, 60);
}

#tyler {
  color: rgb(194, 9, 46);
}
